@model Typsy.LTI.Consumer.Sample.ViewModels.ConsumerTest.LaunchLtiRequestViewModel

@*
    The Controller calculated all the form data, and even the
    form action. All this view needs to do is create the form and ask
    the browser to submit it.
*@
    <form id="form" action="@Model.LtiRequest.Url" method="post">
        @foreach (var pair in Model.LtiRequest.Parameters)
        {
            <input type="hidden" name="@pair.Key" value="@pair.Value" />
        }
    </form>
@section Scripts {
    <script>$(function () {
            $("#form").submit();
        });</script>
}