@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Typsy LTI Consumer Helper Project</h1>
</div>

<hr />

<ul>
    <li>https://www.edu-apps.org/code.html</li>
    <li>https://www.imsglobal.org/basic-overview-how-lti-works</li>
    <li>https://github.com/andyfmiller/LtiSamples</li>
</ul>
